:root
{
    /* Spaces */
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 32px;
    --space-xl: 48px;
    --space-xxl: 96px;

    --transition-time: 0.2s;
}

.skip-link
{
    font-size: 0;
    margin: 0;
    padding: 0;
    display: block;
}

.position-bottom
{
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.p-xs  { padding: var(--space-xs); }
.p-sm  { padding: var(--space-sm); }
.p-md  { padding: var(--space-md); }
.p-lg  { padding: var(--space-lg); }
.p-xl  { padding: var(--space-xl); }
.p-xxl { padding: var(--space-xxl); }

.pt-xs  { padding-top: var(--space-xs); }
.pt-sm  { padding-top: var(--space-sm); }
.pt-md  { padding-top: var(--space-md); }
.pt-lg  { padding-top: var(--space-lg); }
.pt-xl  { padding-top: var(--space-xl); }
.pt-xxl { padding-top: var(--space-xxl); }

.pr-xs  { padding-right: var(--space-xs); }
.pr-sm  { padding-right: var(--space-sm); }
.pr-md  { padding-right: var(--space-md); }
.pr-lg  { padding-right: var(--space-lg); }
.pr-xl  { padding-right: var(--space-xl); }
.pr-xxl { padding-right: var(--space-xxl); }

.pl-xs  { padding-left: var(--space-xs); }
.pl-sm  { padding-left: var(--space-sm); }
.pl-md  { padding-left: var(--space-md); }
.pl-lg  { padding-left: var(--space-lg); }
.pl-xl  { padding-left: var(--space-xl); }
.pl-xxl { padding-left: var(--space-xxl); }

.pb-xs  { padding-bottom: var(--space-xs); }
.pb-sm  { padding-bottom: var(--space-sm); }
.pb-md  { padding-bottom: var(--space-md); }
.pb-lg  { padding-bottom: var(--space-lg); }
.pb-xl  { padding-bottom: var(--space-xl); }
.pb-xxl { padding-bottom: var(--space-xxl); }

.m-xs  { margin: var(--space-xs); }
.m-sm  { margin: var(--space-sm); }
.m-md  { margin: var(--space-md); }
.m-lg  { margin: var(--space-lg); }
.m-xl  { margin: var(--space-xl); }
.m-xxl { margin: var(--space-xxl); }

.mt-xs  { margin-top: var(--space-xs); }
.mt-sm  { margin-top: var(--space-sm); }
.mt-md  { margin-top: var(--space-md); }
.mt-lg  { margin-top: var(--space-lg); }
.mt-xl  { margin-top: var(--space-xl); }
.mt-xxl { margin-top: var(--space-xxl); }

.mr-xs  { margin-right: var(--space-xs); }
.mr-sm  { margin-right: var(--space-sm); }
.mr-md  { margin-right: var(--space-md); }
.mr-lg  { margin-right: var(--space-lg); }
.mr-xl  { margin-right: var(--space-xl); }
.mr-xxl { margin-right: var(--space-xxl); }

.mb-xs  { margin-bottom: var(--space-xs); }
.mb-sm  { margin-bottom: var(--space-sm); }
.mb-md  { margin-bottom: var(--space-md); }
.mb-lg  { margin-bottom: var(--space-lg); }
.mb-xl  { margin-bottom: var(--space-xl); }
.mb-xxl { margin-bottom: var(--space-xxl); }

.ml-xs  { margin-left: var(--space-xs); }
.ml-sm  { margin-left: var(--space-sm); }
.ml-md  { margin-left: var(--space-md); }
.ml-lg  { margin-left: var(--space-lg); }
.ml-xl  { margin-left: var(--space-xl); }
.ml-xxl { margin-left: var(--space-xxl); }
